<div>
  <div>
    <h4>{{employee_name}}</h4>
    <ul>
      <li>
        {{work_name}}
      </li>
      <li>
        {{position}}
      </li>
      <li>
        Mood Today
       
      </li>
    <a href="/employees/{{id}}">{{comments.length}}
      {{format_plural "review" comments.length}}</a>
  </div>
</div>

