<div>
  <div>
    <h4 class="employee-name">{{employee_name}}</h4>
    <ul>
      <li class="row">
        <p class="col-3">Workplace:</p> <p class="col-4">{{work_name}}</p>
      </li>
      <li class="row">
        <p class="col-3">Position:</p> <p class="col-4">{{position}}</p>
      </li>
      <li>
      Mood Today: 
       
      </li>
    <a class="review" href="/employees/{{id}}">{{comments.length}}
      {{format_plural "review" comments.length}}</a>
  </div>
</div>

